[Unit]
Description=Sets random Gnome desktop background
Wants=dbus.service

[Service]
Type=oneshot
ExecStart=/home/jzacsh/bin/share/gnome_desktop_rotate %h/media/bgrnd
