[Unit]
Description=Go Documentation Server (Headless)

[Service]
Type=simple
# TODO(zacsh) when i've figured out env. variables for systemd user-files, use $GOPATH
Environment="GOPATH=%h/usr/lib/go"
Environment="GOMAXPROCS=1"
ExecStart=/bin/bash -c 'godoc -analysis=type -http=:6060'
LimitCORE=1
LimitNICE=18
LimitAS=2G:5G
# 20170710: with -analysis=type, takes 6+ minutes on my own $GOPATH (ie: not
# only stdlib) on laptop w/8GB RAM and made it unresponsive for at least a
# minute

[Install]
WantedBy=default.target
