[Unit]
Description=Logrotate makes sure log files don't get out of control

[Service]
Type=oneshot
ExecStart=/usr/sbin/logrotate --state %t/logrotate.state --force %h/.config/logrotate.conf
