[Unit]
Description=Autostart Unpriveleged LXCs

[Service]
Type=oneshot
ExecStart=/bin/bash -c 'set -x; lxc-autostart'
TimeoutStopUSec=3min 30s
NonBlocking=yes

[Install]
WantedBy=default.target
