[Unit]
Description=Syncthing Daemon (Headless)

[Service]
ExecStart=/home/jzacsh/bin/local/syncthing -no-browser /home/jzacsh/.config/syncthing/

[Install]
WantedBy=default.target
