[submodule ".vim/bundle/vimroom"]
	path = .vim/bundle/vimroom
	url = git://github.com/mikewest/vimroom.git
[submodule ".vim/bundle/vimspell"]
	path = .vim/bundle/vimspell
	url = git://github.com/vim-scripts/vimspell.git
[submodule ".vim/bundle/vcscommand"]
	path = .vim/bundle/vcscommand
	url = git://repo.or.cz/vcscommand.git
[submodule ".vim/bundle/simplenote"]
	path = .vim/bundle/simplenote
	url = git://github.com/vim-scripts/simplenote.vim
[submodule ".vim/bundle/rvm"]
	path = .vim/bundle/rvm
	url = git://github.com/vim-scripts/rvm.vim
[submodule ".vim/bundle/taglist"]
	path = .vim/bundle/taglist
	url = git://github.com/vim-scripts/taglist.vim.git
[submodule ".vim/bundle/taglist-plus"]
	path = .vim/bundle/taglist-plus
	url = git://github.com/int3/vim-taglist-plus.git
[submodule ".vim/bundle/rails"]
	path = .vim/bundle/rails
	url = git://github.com/vim-scripts/rails.vim.git
[submodule ".vim/bundle/mru"]
	path = .vim/bundle/mru
	url = git://github.com/vim-scripts/mru.vim.git
[submodule ".vim/bundle/ack"]
	path = .vim/bundle/ack
	url = git://github.com/vim-scripts/ack.vim.git
[submodule ".vim/bundle/matchit.zip"]
	path = .vim/bundle/matchit.zip
	url = git://github.com/vim-scripts/matchit.zip.git
[submodule ".vim/bundle/phpfolding"]
	path = .vim/bundle/phpfolding
	url = git://github.com/vim-scripts/phpfolding.vim.git
[submodule ".vim/bundle/L9"]
	path = .vim/bundle/L9
	url = git://github.com/vim-scripts/L9.git
[submodule ".vim/bundle/Gundo"]
	path = .vim/bundle/Gundo
	url = git://github.com/vim-scripts/Gundo.git
[submodule "vim/bundle/IndentConsistencyCop"]
	path = vim/bundle/IndentConsistencyCop
	url = git://github.com/vim-scripts/IndentConsistencyCop.git
[submodule "vim/bundle/capslock"]
	path = vim/bundle/capslock
	url = git://github.com/vim-scripts/capslock.vim.git
[submodule "vim/bundle/debugger.py"]
	path = vim/bundle/debugger.py
	url = git://github.com/vim-scripts/debugger.py.git
[submodule "vim/bundle/codepad"]
	path = vim/bundle/codepad
	url = git://github.com/vim-scripts/codepad.git
[submodule "vim/bundle/FuzzyFinder"]
	path = vim/bundle/FuzzyFinder
	url = git://github.com/vim-scripts/FuzzyFinder.git
[submodule "vim/bundle/Command-T"]
	path = vim/bundle/Command-T
	url = git://github.com/vim-scripts/Command-T.git
[submodule "vim/bundle/cscope_macros"]
	path = vim/bundle/cscope_macros
	url = git://github.com/vim-scripts/cscope_macros.vim.git
[submodule ".vim/colors/dante"]
	path = .vim/colors/dante
	url = git://github.com/vim-scripts/dante.vim.git
[submodule ".vim/colors/Mustang2"]
	path = .vim/colors/Mustang2
	url = git://github.com/vim-scripts/Mustang2.git
[submodule "vim/colors/hornet"]
	path = vim/colors/hornet
	url = git://github.com/vim-scripts/hornet.vim.git
[submodule "vim/colors/tir_black"]
	path = vim/colors/tir_black
	url = git://github.com/vim-scripts/tir_black.git
