[submodule ".vim/bundle/vimroom"]
	path = .vim/bundle/vimroom
	url = git://github.com/mikewest/vimroom.git
[submodule ".vim/bundle/vimspell"]
	path = .vim/bundle/vimspell
	url = git://github.com/vim-scripts/vimspell.git
[submodule ".vim/bundle/vcscommand"]
	path = .vim/bundle/vcscommand
	url = git://repo.or.cz/vcscommand.git
[submodule ".vim/bundle/simplenote"]
	path = .vim/bundle/simplenote
	url = git://github.com/vim-scripts/simplenote.vim
[submodule ".vim/bundle/rvm"]
	path = .vim/bundle/rvm
	url = git://github.com/vim-scripts/rvm.vim
[submodule ".vim/bundle/taglist"]
	path = .vim/bundle/taglist
	url = git://github.com/vim-scripts/taglist.vim.git
[submodule ".vim/bundle/taglist-plus"]
	path = .vim/bundle/taglist-plus
	url = git://github.com/int3/vim-taglist-plus.git
