[user]
  name = Jonathan Zacsh
  email = j@zac.sh
  signingkey = 0xDDA2191017339886
[help]
  autocorrect = 1
[alias]
  st = status
  last = log -1 HEAD
  lg = log --branches --show-signature --graph --decorate
[core]
  pager = less --no-init --RAW-CONTROL-CHARS --quit-if-one-screen
  excludesFile = ~/.gitignore
;  notesRef = refs/notes/*
[pager]
  status = true
[merge]
  tool = vimdiff
  conflictstyle = diff3
; how do i save the below in config?
;   git-diff --exit-code
[color]
  ui = auto
  status = auto
  branch = auto
[color "diff"]
  plain = white
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[init]
  templatedir = ~/.config/git_template
[commit]
  gpgsign = true
[diff]
  compactionHeuristic = true
