[user]
  name = Jonathan Zacsh
  email = jzacsh@gmail.com
[alias]
  co = checkout
  br = branch
  ci = commit
  st = status
  unstage = reset HEAD --
  last = log -1 HEAD
[core]
  pager = less -FRSX
  editor = vim
  excludesFile = ~/.gitignore
;  notesRef = refs/notes/*
[pager]
  status = true
[merge]
  tool = vimdiff
  conflictstyle = diff3
[color]
  ui = auto
  status = auto
  branch = auto
[color "diff"]
  plain = white
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
