home/.irssi/scripts/autorun/notify.pl
home/.vim/.netrwhist
home/.vim/.VimballRecord
home/.vim/ruby/command-t/*.o
home/.vim/ruby/command-t/*.so
home/.vim/ruby/command-t/Makefile
home/.vim/ruby/command-t/mkmf.log
home/.w3m/w3m*
home/.w3m/history
home/.w3m/cookie
home/.irssi/config
home/.irssi/saved_colors
home/.irssi/config
home/.netrc
home/cscope.inc
home/cscope.out
home/cscope.files
home/.browser
home/.irssi/config.autosave
home/.vim/bundle/*
