.irssi/scripts/autorun/notify.pl
.vim/.netrwhist
.vim/.VimballRecord
.vim/ruby/command-t/*.o
.vim/ruby/command-t/*.so
.w3m/w3m*
.w3m/history
.irssi/config
.irssi/saved_colors
.irssi/config
.netrc
cscope.inc
cscope.out
cscope.files
.browser
.irssi/config.autosave
