.irssi/scripts/autorun/notify.pl
.vim/.netrwhist
.vim/.VimballRecord
.vim/ruby/command-t/*.o
.vim/ruby/command-t/*.so
.vim/ruby/command-t/Makefile
.vim/ruby/command-t/mkmf.log
.w3m/w3m*
.w3m/history
.w3m/cookie
.irssi/config
.irssi/saved_colors
.irssi/config
.netrc
cscope.inc
cscope.out
cscope.files
.browser
.irssi/config.autosave
.vim/bundle/*
