#!/usr/bin/env bash

# xcompmgr -n -c -C -t-5 -l-5 -r4.2 -o.55 -f 2>/dev/null &

urxvtd -q -o -f

# if touchpad is tap-to-click enabled, disable with:
#    synclient MaxTapTime=0

xsetroot -solid "#FF69B4"

# Trying to figure out why chrome AND firefox ignore user-dirs.dirs in i3 but
# not gnome/unity...
while read xdgir; do
  [[ $xdgir =~ ^XDG_ ]] && export $xdgir
done < ~/.config/user-dirs.dirs

dropbox start
