[Desktop Entry]
Comment=Color temperature adjustment tool
StartupNotify=true
Exec=redshift
Terminal=false
GenericName=Redlight shifting color temperature adjustment
Version=1.0
Categories=Utility
Hidden=false
Icon=redshift
Type=Application
Name=Redshift
NotShowIn=GNOME
