[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=SSH Add
Comment=ssh-add keys to local ssh agent
Exec=bash -c 'ssh-add .ssh/key.*[^pub]'
StartupNotify=true
Terminal=true
# this should have the values that OnlyShowIn= has for a gnome install's
#     /etc/xdg/autostart/gnome-keyring-ssh.desktop
NotShowIn=GNOME;Unity;MATE;
