[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Syncthing
GenericName=File Synchronizer
Comment=Syncthing File Sync
Exec=/usr/bin/syncthing -no-browser /home/jzacsh/.config/syncthing/ >/home/jzacsh/usr/log/autostart-syncthing.log 2>&1
StartupNotify=true
Terminal=false
Categories=Network;FileTransfer;
Hidden=false
