# [Unit]
# Description=User-Scoped (Lingering) Tmux
# Wants=user@%U.service

# [Service]
# ExecStart=/usr/bin/systemd-run --scope --user /usr/bin/tmux
# ExecStop=/usr/bin/tmux kill-server

# # 20160910; So f'ing confused by systemd ...
# #[Install]
# #RemainAfterExit=yes
# #WantedBy=multiplexer.target

[Desktop Entry]
Name=tmux
Comment=lingering, systemd user-scoped tmux session
Type=Application
OnlyShowIn=i3
Exec=/usr/bin/systemd-run --scope --user /usr/bin/tmux
