[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Xmodmap
Comment=Run my xmodmap
Exec=/usr/bin/env DISPLAY=:1 /usr/bin/xmodmap /home/jzacsh/.Xmodmap
StartupNotify=true
Terminal=false
Hidden=false
